<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="st1tic/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="st1tic/css/style-aceuil.css">
    <link rel="stylesheet" type="text/css" href="st1tic/css/style-admin-gestion-compte.css">

    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" >
    <title>gestion Projet</title>
  </head>
  <body> 
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="st1tic/img/demo-logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto" >
                <li class="nav-item  ">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'comptes' %}">Gestion Compte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin-projet' %}">Projet</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'publication' %}">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'statistique' %}">Statistiques Projet</a>
                  </li>
                  
              </ul>
            </div>
          </nav>
        </section> 
        <!------------------------navbar-side------------------->
        <section id="navbar-side">
            <div class="container">
                <div class="row ">
                    <div class="col-md-3  sidebar">
                        <img src="st1tic/img/user1.jpg" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h3>Nom_Admin</h3>
                            <p>Poste Occupé</p>
                            <p>adresse@gmail.com</p>
                            <p>N°Téléphone</p>
                            <button type="button" class="btn btn-primary">Ajouter un nouveau projet</button>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <form class="d-flex" style="padding-top: 35px;">
                            <input class="form-control me-2" type="search" placeholder="Entrer qeulque chose" aria-label="Rechercher">
                            <button class="btn btn-classe" type="submit">Rechercher</button>
                          </form>
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <img src="st1tic/img/gestion-de-projet.png" class="img-fluid compte-img">
                            </div>
                            <div class="col-md-3 text-center">
                                <img src="st1tic/img/groupe.png" class="img-fluid compte-img">
                            </div>
                            <div class="col-md-3 text-center">
                                <img src="st1tic/img/planning.png" class="img-fluid compte-img">
                            </div>
                            <div class="col-md-3 text-center">
                                <img src="st1tic/img/trend.png" class="img-fluid compte-img">
                            </div>
                        </div>

                        {% for project in object_list %}
                            <div class="row ligne">
                            <div class="col-md-3 text-center">
                                <p>{{project.nom}}</p>
                            </div>
                            <div class="col-md-3 text-center">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Equipe</button>

                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Les membres d'éuipe est : </h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <ul>
                                          {% for membre in membres_list %}
                                              {% if membre.projet|stringformat:"s" == project.nom|stringformat:"s" %}
                                                  <li> {{ membre.nom }} {{ membre.prenom }} </li>
                                              {% endif %}
                                          {% endfor %}

                                      </ul>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3 text-center">
                                <button type="button" class="btn btn-primary">Echéance</button>
                            </div>
                            <div class="col-md-3 text-center">
                               <!---<button type="button" class="btn btn-primary">Etat de projet </button>---->
                               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                                Etat de Projet
                              </button>

                              <!-- Modal -->
                              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">L'etat d'avencement dans ce projet est :</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="progress">
                                        <div class="progress-bar" style="width:70%"></div>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>

                            </div>
                        {% endfor %}

                        </div>         
                    </div>
                    
                </div>
                </div>

            </div>
        </section>
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="st1tic/js/bootstrap.min.js"></script>
    <script src="st1tic/js/bootstrap.bundle.min.js"></script>
    <script src="st1tic/js/bootstrap.bundle.min.js/bootstrap.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="st1tic/js/bootstrap.js"></script>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="popover"]'));
        var popoverList = popoverTriggerList.map( function( popoverTigger)
        {
            return new bootstrap.Popover( popoverTigger);
        });
    </script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
    </script>
</html>